body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Hauteur totale de l'écran */
    overflow: hidden; /* Empêche le défilement */
    background-color: #87CEEB; /* Fond bleu clair */
  }
  
  canvas {
    display: block;
  }
  